@charset "utf-8";
/* CSS Document */

body {
	background: url("imagens/bg_cinzatext.jpg") repeat scroll top center #ebe9e8;
	font-family: "Open Sans", Arial, sans-serif;
	font-size:12px;	
	margin: 0;

	}
	
li a {
	color:#74b34a;
	text-align: right;
	list-style: none;
	text-decoration: none;
}

li a:hover {
	color:#b2cc42;
}

a {
	list-style: none;
	text-decoration: none;
}

a:link {
	color: #104493;
}
a:visited {
	color: #6bc6d3;
}
a:active,
a:hover {
	color: #b2cc42;
}

.entry-meta a,
.entry-utility a {
	color: #888;
}
.entry-meta a:hover,
.entry-utility a:hover {
	color: #b2cc42;
}
/* TOOLTIP */
#tooltip {
	position: absolute;
	z-index: 3000;
	border: 2px solid #705e39;
	font-size: 11px;
	background-color: #cea756;
	padding: 10px;
	margin-left: 10px;
}

#tooltip h3, #tooltip div { 
	margin: 0;
	color: #FFF !important;
	font-family: tahoma, arial, sans-serif;
	text-transform: uppercase;
 }

/* RODAPE */

#footer {
   margin-top: 170px;
}

#top-rodape {
	height: 145px;
	width: 998px;
	float: left;
	 margin-top: -145px;
	background: url(imagens/footer_topete_text.png) no-repeat; 
}

#rodape {
    height: 420px;
	width: 998px;
	background: url(imagens/bg_footer_text.png) scroll 0 -10px repeat-y #004494; 
}


#rodape a{
	color: #fefefe;
	font-size: 0.9em;
	text-decoration: none;
}

#rodape a:hover{
	color:#FFF;
}

#footer-widget-area .widget-title {
    color: #B3CB43 !important;
    font-family: 'Open Sans',sans-serif;
    font-size: 1.1em;
    font-weight: bolder;
    margin-bottom: 10px;
	}

#footer-widget-area .textwidget {
    color: #FFF !important;
}

#footer-widget-area {
    margin: 20px 0 0 35px;
	width: 730px;
	padding: 0;
	min-height: 230px;
}

#logos {

   background: url("imagens/logos_rodape.png") no-repeat scroll 0 0 transparent;
    float: right;
    height: 378px;
    margin: 90px 20px 0 0;
    width: 200px;

}

#petrobras {
    background: none repeat scroll 0 0 transparent;
    float: left;
    height: 40px;
    margin: 75px 0 0 10px;
    width: 170px;
	}

#polis {
    background: none repeat scroll 0 0 transparent;
    float: left;
    height: 140px;
    margin: 45px 0 0 9px;
    width: 110px;
}

a.link_petrobras {
    height: 40px;
    position: absolute;
    width: 170px;
}

a.link_polis {
    height: 140px;
    position: absolute;
    width: 110px;
}

#rodape-description {
    color: #FFFFFF;
    float: left;
    font-size: 1em;
    line-height: 0.7em;
    margin: 10px 0 0 35px;
    padding: 0;
    text-align: left;
    width: 710px;
}


.widget-area ul li {
	margin-bottom: 5px;
}


.widget-area .textwidget {
	margin-bottom: 25px;
}

#secundary.textwidget {
	margin-bottom: 20px;
}


/* NOVOS */

#mediaspace {
	margin: 0 auto;
	 width: 700px;
}

#twitcamPlayer{
  margin: 0 0 0 120px;
    width: 700px;
}

a.leia-mais {

    background: none repeat scroll 0 0 #BABABA;
    border: 1px solid #8A8A8A;
    color: #FFFFFF;
    font-family: 'Passion One',sans-serif;
    font-size: 1.8em;
    font-weight: bold;
    height: 16px;
    margin: 2px 0 0 4px;
    position: absolute;
    width: 16px;
	
}

span.mais {
    margin: -2px 0 0 -2px;
    padding-left: 4px;
	position: absolute;

}

.entry-title {
    color: #004494;
	font-family: 'Candal', sans-serif;
    font-weight: bolder;
    letter-spacing: 0;
	margin-bottom: 10px;
	}

.entry-title-query {
    color: #231f20;
	font-family: 'Open Sans', sans-serif;
    font-size: 1.4em;
    font-weight: bolder;
    letter-spacing: 0;
	font-weight: bold;
	margin: 0;
	}
	
#midias-sociais {
	height: 34px;
	width: 113px;
	float: right;
    margin-right: 17px;
    margin-top: -2px;
}

#footer-widget-area ul.children {
display: none;
}

a.link_twitter {
   background: url("imagens/midias-sociais.png") no-repeat scroll 0 0 transparent;
    height: 35px;
    padding: 0 !important;
    position: absolute;
    width: 35px;
}

a.link_twitter:hover {
	background: url("imagens/midias-sociais.png") no-repeat scroll 0 -43px transparent;
}

a.link_facebook {
   background: url("imagens/midias-sociais.png") no-repeat scroll -36px 0 transparent;
    height: 35px;
    position: absolute;
    width: 38px;
	padding: 0 !important;
	margin-left: 35px;
}

a.link_facebook:hover {
	background: url("imagens/midias-sociais.png") no-repeat scroll -36px -43px transparent;
}

a.link_youtube {
   background: url("imagens/midias-sociais.png") no-repeat scroll -76px 0 transparent;
    height: 35px;
    position: absolute;
    width: 35px;
	padding: 0 !important;
	margin-left: 74px;
}

a.link_youtube:hover {
	background: url("imagens/midias-sociais.png") no-repeat scroll -76px -43px transparent;
}

#s {
    background: none repeat scroll 0 0 #6BC6D3;
    border: medium none;
    border-radius: 8px 8px 8px 8px;
    color: #FFFFFF;
    font-family: "Open Sans",sans-serif;
    height: 15px;
    margin-right: 0;
    margin-top: 8px;
    padding: 4px;
    width: 135px;
	}
	
#searchsubmit {
    background: url("imagens/search_icon.png") no-repeat scroll center bottom transparent;
    border: medium none;
    height: 25px;
    margin-right: 0;
    margin-top: 8px;
    padding: 0;
    text-indent: -999999px;
    width: 23px;
}

#content span.category-name {
    font-family: 'Candal',sans-serif;
    font-size: 1.6em;
    text-transform: uppercase;
	color: #004494;
}


#content span.category-noticias {
   font-family: 'Candal',sans-serif;
    font-size: 1.6em;
	text-transform: uppercase;
	color: #00A3D9;

}

#content span.category-destaques {
   font-family: 'Candal',sans-serif;
    font-size: 1.6em;
	text-transform: uppercase;
	color: #F3C700;

}

#content span.category-releases {
   font-family: 'Candal',sans-serif;
    font-size: 1.6em;
	text-transform: uppercase;
	color: #E0C761;
}

.etiqueta-releases {
	padding: 10px;
	margin: 0 0 10px 0;
	width: auto;
	background-color: #b9b9b9;
}

.numero-release {
    color: #FFF !important;
	font-family: 'Candal', sans-serif;
    font-weight: normal !important;
    letter-spacing: 0;
	margin: 0 !important;
	padding: 2px 0;
}

#content span.category-boletins {
   font-family: 'Candal',sans-serif;
    font-size: 1.6em;
	text-transform: uppercase;
    color: #B2CC42;

}

.thumb-boletins {
	width: 255px;
	height: 255px;
	overflow: hidden;
	margin: 0 0 8px 0;
	border: 0 !important;
}

.thumb-noticias img {
	min-width: 255px;
	height: auto;
	border: 0;
}

.thumb-noticias a img {
	border: 0;
}

#content span.category-newsletter {
   font-family: 'Candal',sans-serif;
    font-size: 1.6em;
	text-transform: uppercase;
	color: #3CAA8B;

}


#content span.category-eventos {
   font-family: 'Candal',sans-serif;
    font-size: 1.6em;
	text-transform: uppercase;
	color: #74B34A;
}

.cada-evento {
	width: 91%;
	margin: 10px 0;
	background: #FFF;
	min-height: 130px;
	clear: both;
}

.cada-evento-div {
    float: left;
    margin-left: 9px;
    overflow: hidden;
    width: 24%;
}

#fotos-archive-titulo {
	padding: 10px;
	font-size: 0.9em;
}

#content span.category-apresentacoes {
   font-family: 'Candal',sans-serif;
    font-size: 1.6em;
	text-transform: uppercase;
    color: #362477;

}

#content span.category-editais {
   font-family: 'Candal',sans-serif;
    font-size: 1.6em;
	text-transform: uppercase;
    color: #EAB42D;

}

select.postform{

	background: #6BC6D3;
	border: none;

	}


#coluna-sitemap {
	width: 130px;
	float: left;
	line-height: 1.8em;
	margin-left: 13px;
	margin-left: 20px;
    width: 130px;
}

#coluna-sitemap ul {
	list-style: none;
	margin: 0;
	}

#coluna-sitemap.ultima {
	width: 100px;
}

#coluna-sitemap a{
    color: #B3CB43 !important;
    font-family: 'Open Sans',sans-serif;
    font-size: 1.1em;
	font-weight: bolder;
	text-transform: uppercase;
	
}

#coluna-sitemap ul.sub-menu a{
    font-family: 'Open Sans',sans-serif;
    font-size: 1em;
	color: #FFF !important;
	font-weight: normal;
	text-transform: none;
	list-style: none;

}

ul.sub-menu {
	margin-left: 0;
}

.page_nav {
float: left;
width: 100%;
margin: 0 auto;
font-size: 1.2em;
font-weight: bold;
}

a.page-numbers {
padding: 0 6px 0 0;

}

span.current {
padding: 0 6px 0 0;
color: #104493;
}

span.dots {
color: #104493;
}


/* HOME */
#container-home {
    float: left;
    margin: 0 -240px 0 0;
    width: 100%;
}

#content.home {
    float: left;
    margin: -5px 15px 0 40px;
    width: 280px;
}

#content.single {
    background: none repeat scroll 0 0 #FFFFFF;
    float: left;
    margin: 0 0 40px 45px;
    padding: 30px;
    width: 600px;
}

#content.municipios {
    float: left;
    margin: 0 0 30px 30px;
    width:660px;
}

#content.biblioteca {
    float: left;
    margin: 10px 30px 30px 30px;
    width:936px;
}


#content {
    float: left;
    margin: 0 0 30px 45px;
    width:660px;
}

#mapa-home {
	
	float: right;
	width: 639px;
    margin: -40px 0 0 0;
	height: 369px;
	background: #183052; 
	
}


#mapa-home.mapa-arcgis {
position: absolute
}



a.tela-cheia {
    background: url("imagens/telacheia-icon.png") no-repeat scroll center bottom transparent;
    height: 34px;
	margin: -320px 0 0 480px;
    position: absolute;
    text-indent: -999999px;
    width: 143px;
}

#mapa-home  p {
    color: #FFF;
    font-family: 'Candal',sans-serif;
    font-size: 2.3em;
    font-weight: bolder;
    letter-spacing: 0;
    line-height: 1.5em;
    margin: 20% auto 0;
    text-align: center;
    width: 300px;
}

	
}

#video-institucional{
    float: left;
    height: 369px;
    margin: 0 0 0 10px;
    width: 639px;
	/*background: url(imagens/video_dev.jpg) bottom center no-repeat; */
}

#video-institucional-soon{
    float: left;
    height: 369px;
    width: 630px;
	border: 5px dashed #CCC;
	margin: 0 auto;
	background: #EEE;
}

#video-institucional-soon p{

    color: #CCCCCC;
    font-family: 'Candal',sans-serif;
    font-size: 2.3em;
    font-weight: bolder;
    letter-spacing: 0;
    line-height: 1.5em;
    margin: 20% auto 0;
    text-align: center;
    width: 300px;
}

#mapas-soon{
    float: left;
    width: 285px;
	border: 5px dashed #CCC;
	margin: 0 auto;
	background: #EEE;
}

#mapas-soon p{

	color: #CCCCCC;
    font-family: 'Candal',sans-serif;
    font-size: 1.8em;
    font-weight: bolder;
    letter-spacing: 0;
    line-height: 1.4em;
    margin: 20% auto;
    text-align: center;
    width: 260px;
}

#primeira-linha {
	width: 998px;
	min-height: 340px;
	margin: 0;
	float: left;
}

#segunda-linha {
    float: left;
    margin: 25px 0 0 0;
    min-height: 340px;
    width: 998px;
}

#terceira-linha {
    float: left;
    margin: 25px 0 0 0;
    min-height: 340px;
    width: 998px;
}

#flickr-linha {
    float: left;
    margin: 25px 0 0 0;
    height: 200px;
    width: 998px;
}


#galeria-linha {
    float: left;
    margin: 25px 0 0 0;
    min-height: 340px;
    width: 998px;
}

#mapa-linha {
    float: left;
    margin: 0px 0 35px;
	padding: 20px 0;
    height: 205px;
    width: 998px;
	background: none;
}

#galeria-imprensa {
 width: 600px;
 float: left;
 margin-left: 45px;
}


#galeria-imprensa .timer {
display: none;
}

#galeria-municipios {
	float: left;
    margin-left: 200px;
    width: 600px;
}

#galeria-municipios .timer {
display: none;
}

#player-musica {
width: 300px;
float: left;
 margin-left: 40px;
}


#agenda-query {
    float: left;
    margin: 0 0 0 45px;
    width: 285px;
}

#query-post1-diagnostico {
    float: left;
    margin: 0 0 0 45px;
    width: 285px;
	color: #FFF;
}

#query-post-diagnostico {
    float: left;
    margin: 0 0 0 45px;
    width: 285px;
    color: #FFF;
}


#query-post1 {
    float: left;
    margin: 0 0 0 45px;
    width: 285px;
}


#query-post {

    float: left;
    margin: 0 0 0 30px;
    width: 285px;
}

#query-post-noticias {

    float: left;
    margin: 0 0 0 30px;
    width: 600px;
}


#query-links {

    float: left;
    margin: 0 0 0 30px;
    width: 285px;
}

h1.linkcat {
	margin: 0;
	padding: 0;
}

#query-links li{
    list-style: none outside none;
	margin-bottom: 10px;
}

#query-links li a{
	font-size: 1.2em;
}

#municipios-widget h2{
    font-family: 'Candal',sans-serif;
    font-size: 1.8em;
    height: 28px;
    text-transform: uppercase;
    width: auto;
	color: #00ABE5;
}

#municipios-widget h1, h3, h4 {
    font-family: 'Candal',sans-serif;
	line-height: 1.1em;
    width: auto;
	color: #004494;
}

#info-evento {
    background: none;
    float: left;
    margin: 10px 15px 0 0;
    padding: 5px;
}

#info-evento.archive {
    background: none;
    float: left;
    margin: 10px 0 0 0;
    width: 265px;
	padding: 0;
}


#info-evento p.archive {
	margin: 0 0 0 10px;
	float: left;
	width: 155px;
	}
	

#info-evento p.single {
	margin: 0 0 0 10px;
	float: left;
	width: 370px;
	}
	
#info-evento p {
	margin: 0 0 0 10px;
	float: left;
	}

.archive-meta {
margin-top: -15px;
}

#categoria-archive-titulo h2 {
    font-size: 1.3em;
    margin: 0 0 5px 0;
}

#leia-mais-categoria {
    background: none repeat scroll 0 0 #BABABA;
    float: right;
    font-family: 'Passion One',sans-serif;
    font-size: 0.8em;
    letter-spacing: 1px;
    margin-bottom: 10px;
    margin-right: 0;
    margin-top: 5px;
    padding: 0 6px;
    text-transform: uppercase;
    width: 55px;
}

#leia-mais-categoria a {
color: #fff;
}

h1.negrito {
    font-family: 'Candal',sans-serif;
    font-size: 1.2em;
    text-transform: uppercase;
    width: auto;
	color: #00ABE5;
	float: left;
}

h2.filtro {
    color: #00ABE5;
    float: left;
    font-family: 'Candal',sans-serif;
    font-size: 1.6em;
    letter-spacing: 1px;
    margin-right: 10px;
    text-transform: uppercase;
    width: auto;
}

h2.filtro-agenda {
	color: #007757;
    float: left;
    font-family: 'Candal',sans-serif;
    font-size: 1.6em;
    letter-spacing: 1px;
    margin-right: 10px;
    text-transform: uppercase;
    width: auto;
}

a.query-agenda {
color: #007757;
}

a.query-eventos {
color: #74B34A;
}

a.query-editais {
color: #EAB42D;
}

a.query-apresentacoes {
color: #362477;
}

a.query-releases {
color: #E0C761;
}

a.query-boletim {
color: #B2CC42;
}

a.query-newsletter {
color: #3CAA8B;
}

a.query-diagnostico {
color: #B2CC42;
}

h1.category-agenda {
   font-family: 'Candal',sans-serif;
    font-size: 3.2em;
	text-transform: uppercase;
	color: #007757 !important;

}

h1.diagnostico-box {
   font-family: 'Candal',sans-serif;
    font-size: 2.6em;
	text-transform: uppercase;
	color: #FFF !important;
    height: 35px;
	padding-left: 45px;
    padding-top: 10px;
}

span.author {
display: none;
}

span.meta-sep {
display: none;
}

.cat-links {
display: none;
}

#mes-agenda {
    color: #B3CB43 !important;
    font-family: 'Open Sans',sans-serif;
    font-size: 1.1em;
    font-weight: bolder;
	text-transform: uppercase;
	text-align: center;
	margin: -4px 0 2px 0;
}

#dia-agenda {
	margin: 0 auto;
	font-family: 'Open Sans',sans-serif;
	font-size: 2.3em;
	text-align: center;
}

#leia-mais-agenda {
    background: none repeat scroll 0 0 #BABABA;
    font-family: 'Passion One',sans-serif;
    font-size: 0.8em;
    letter-spacing: 1px;
	float: right;
    padding: 0 6px;
    text-transform: uppercase;
    width: 55px;
	margin-top: 7px;
	    margin-right: 6px;
}

#leia-mais-agenda.archive {
    margin-right: -2px;
    margin-top: -15px;
	margin-bottom: 2px;
}

#leia-mais-agenda a {
color: #fff;
}

#noticias-query {
    float: left;
    margin: 0 0 0 30px;
    width: 285px;
}

.thumb-noticias {
	width: 255px;
	height: 130px;
	overflow: hidden;
	margin: 0 0 8px 0;
}

.thumb-noticias img {
	min-width: 255px;
	height: auto;
	overflow: hidden;
}

#noticias-municipios-query {
    float: left;
    margin: 0 0 0 30px;
    width: 610px;
}

#municipios-querypost {
    float: left;
    margin: 0 20px 10px 0;
    min-height: 125px;
    width: 280px;
}

h1.title-query {
    font-family: 'Candal',sans-serif;
    font-size: 1.8em;
    text-transform: uppercase;
	height: 28px;
	width: auto;
	color: #104493;
}

h1.title-query-link {
    font-family: 'Candal',sans-serif;
    font-size: 1.8em;
    text-transform: uppercase;
	height: 28px;
	width: auto;
}

h1.title-query-link:hover {
	background: url(imagens/btn_hover_query.png) bottom right no-repeat;
}

a.query-noticias {
	color: #00a3d9;
}

a.query-noticias-home {
	color: #00a3d9;
	font-size: 2em;
}

#destaques-query {
    float: left;
    margin: 0 0 0 30px;
    width: 285px;
}

a.query-destaques {
color: #f3c700;
}

h1.query-destaques {
	color: #f3c700;
    font-family: 'Candal',sans-serif;
    font-size: 1.8em;
    height: 28px;
    text-transform: uppercase;
    width: auto;
	margin-bottom: -5px;
}

#rodape-home {
	height: 95px;
	width: 1000px;
	float: left;
	background: url(imagens/rodape_export-v2.jpg) bottom center no-repeat; 
}

#img-cabecalho {
float: right;
width: 639px;
height: 329px;
margin: 0;
}

#bg-wrapper {
	background: url("imagens/bg_wrapper.png") repeat-y scroll center top;
	padding: 0;
	margin: 0 auto;
}

#top-header {
	background: url("imagens/header_topete_text.png") no-repeat scroll center top;
	padding: 0;
    margin: -80px auto 0;
	height: 128px;
	
}

#bottom-header {
	background: url("imagens/bg_menu_text.png") no-repeat scroll 0 -7px #104493;
	display: block;
	float: left;
	margin: 0 auto;
	width: 998px;
}

#header-search {
   float: right;
    font-size: 0.8em;
    margin-right: -30px;
    margin-top: 78px;
    width: 220px;
	}


#site-title a.link_home {
	color: #000;
	font-weight: bold;
	width: 269px;
	height: 222px;
	text-decoration: none;
	position: absolute;
	text-indent: -999999px;
}


/* Municipios*/

#cada-municipio {
	width: 280px;
	min-height: 410px;
	float: left;
	margin: 0 35px 20px 0;
}

#thumb-municipio {
	width:  280px;
	height: 130px;
	margin-bottom: 15px;

}


#icones-municipios{
	background: xurl("imagens/icones-municipios.png") no-repeat scroll center top;
    font-family: 'Candal',sans-serif;
    font-size: 0.8em;
    letter-spacing: 1px;
    text-transform: uppercase;
	width: 276x;
	height: 72px;
	margin: 20px 0;

}

#cada-icone {

    float: left;
	margin: 0 5px;
    position: relative;
	width: 60px;
	height: 70px;
	
	}
#icones-municipios a.icone-noticia{
    background: url("imagens/icones-municipios.png") no-repeat scroll -3px 0 transparent;
    height: 70px;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 60px;
}

#icones-municipios a.icone-agenda{
    background: url("imagens/icones-municipios.png") no-repeat scroll -73px 0 transparent;
    height: 70px;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 60px;
}

#icones-municipios a.icone-diagnostico{
	background: url("imagens/icones-municipios.png") no-repeat scroll -143px 0 transparent;
    height: 70px;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 60px;
}

#icones-municipios a.icone-mapa{
	background: url("imagens/icones-municipios.png") no-repeat scroll -213px 0 transparent;
    height: 70px;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 60px;
}
#icones-municipios span.icone-txt{
    margin-top: 50px;
    position: absolute;
}

#icones-municipios span.icone-txt-diagnostico{
    margin-top: 50px;
	margin-left: -6px;
    position: absolute;
}

#icones-municipios span.icone-txt-mapa{
    margin-top: 50px;
	margin-left: 21px;
    position: absolute;
}

#municipios-widget {
	float: left; 
	width: 280px;
	margin-left: 15px;
}

#ph-box {
	float: left;
	width: 280px;
	height: 320px;
	margin-bottom: 30px;
}

#single-voltar {

    float: left;
    margin: 0 0 40px 45px;
    padding: 0;
    width: 660px;
}

#nav-below-big {
width: 910px;
}

/* AGENDA */

.type-agenda {
	width: 520px;
	float: left;
}

#agenda-geral {
    margin: -10px 0 0;
    padding: 0;
}

#agenda-geral .evento-agenda {
	width: 280px;

}

#agenda-geral .evento-agenda-passado {
	width: 280px;
	opacity:0.5;
	-moz-opacity: 0.5;
	filter: alpha(opacity=50);

}

#agenda-geral .evento-agenda-escondido {
	display:none;

}

#agenda-geral .data-evento-agenda {
    background: none repeat scroll 0 0 #007B5B;
    color: #FFFFFF;
    float: left;
    height: 45px;
    margin-top: 10px;
    padding: 5px;
    width: 45px;
}

#agenda-geral .data-evento-agenda-single {
    background: none repeat scroll 0 0 #007B5B;
    color: #FFFFFF;
    float: left;
    height: 45px;
    margin: 10px 15px 0 0;
    padding: 5px;
    width: 45px;
}

#agenda-geral .titulo-evento-agenda {
    background: none repeat scroll 0 0 #FFFFFF;
    float: left;
    font-size: 1.1em;
    height: 50px;
    margin-bottom: 4px;
    margin-left: 10px;
    margin-top: 10px;
    padding: 5px 2px 2px 8px;
    width: 205px;
}

#agenda-geral .titulo-evento-agenda-passado {
    background: none repeat scroll 0 0 #DDD;
    float: left;
    font-size: 1.1em;
    height: 50px;
    margin-bottom: 4px;
    margin-left: 10px;
    margin-top: 10px;
    padding: 5px 2px 2px 8px;
    width: 205px;
}


#cada-dia {
    background: none repeat scroll 0 0 #FFFFFF;
    float: left;
    margin: 0 20px 20px 0;
    min-height: 210px;
    padding: 15px 15px 5px;
    width: 260px;
	}

#cada-dia.passado {
    background: none repeat scroll 0 0 #DDD;
	opacity:0.5;
	-moz-opacity: 0.5;
	filter: alpha(opacity=50);
	}

#conteudo-dia {
    float: left;
    margin: 10px 0 0 0;
    width: 255px;
	
}

#cada-post {
    background: none repeat scroll 0 0 #FFFFFF;
    float: left;
    margin: 0 20px 20px 0;
    min-height: 410px;
    padding: 15px 15px 5px;
    width: 260px;
	}
	
#conteudo-post {
    float: left;
    margin: 10px 0 0 0;
    width: 255px;
	
}

#agenda-archive-titulo {
	float: left;
    margin: 2px 0 0 15px;
	width: 190px;

}

#agenda-archive-titulo h2{
	margin: 0;
	font-size: 1.2em;

}

h3.page-title {

font-size: 1.4em;

}

#nav-above {
    float: left;
    width: 100%;
}

.paged #nav-above,
.single #nav-above {
}
#nav-below {

    float: left;
    width: 100%;
}
/* CSS POSTS RELACIONADOS */

#related_posts ul{
list-style: none outside none;
margin-left: 0;
}

#related_posts h3{
margin-bottom: 0;
}

.relatedcontent {
margin-bottom: 15px;
}

/* CSS DA FILTAGEM DE TAXONOMIA */

/* =Selects
----------------------------------------------- */
#area-select {
    float: right;
    margin-right: 45px;
    margin-top: 5px;
    min-height: 20px;
    width: auto;
}

#area-select.agenda {
    float: right;
    margin-right: 45px;
    margin-top: 15px;
    min-height: 20px;
    width: 200px;
}

#area-select.noticias {
    float: right;
    margin-right: 45px;
    margin-top: 15px;
    min-height: 20px;
    width: 250px;
}

/* CSS GOOGLE FONTS: */
#fonts {
font-family: 'Candal', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Passion One', cursive;
}